@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

body{
    background: fixed;
    background-image: url("wall.png");
    background-size: 100px;
  }

  #fire{
    position: absolute;
    bottom: -150%;
    width: 100%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: -1;
  }

  a{
    text-decoration-line:underline;
  }

#box{
    border:2mm ridge red;
    background: linear-gradient(200deg, rgb(255, 134, 134) 0%, rgba(255,202,200,1) 100%);
}

#fire {
    position: fixed;
    bottom: -100px;
    width: 100%;
    left: 50%;
    height: null;
    transform:scaleY(50%) translate(-50%, -100px);
    z-index: -1;
}

#ice{
  position: absolute;
  top: -3%;
  width: 110%;
  height: 5%;
  z-index: -1;
}

#footer{
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 35px;
  background-color: grey;
  left: 50%;
  transform: translate(-50%, -0%);
}